@model IEnumerable<ITS.Models.Datos_personales>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_paterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_materno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_datos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_datos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_datos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
